* {
  box-sizing: border-box;
}

body {
  background-color: #faf0e6;
  padding: 10px 0;
}

.bc {
  background-color: #f4a460;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
/*-----------------cammon end------------------*/
.header-top {
  position: sticky;
  top: 50px;
}

.header .container .header-top {
  width: 100%;
  min-height: 100px;
  margin: 19px 0;
}

.main .container .main-left {
  width: 800px;
  min-height: 550px;
}

.main .container .main-right {
  width: 350px;
  min-height: 750px;
  position: absolute;
  right: 0;
  top: 1px;
}

.footer .container .footer-block {
  width: 805px;
  min-height: 181px;
  margin-top: 20px;
}
